page-login {

	.content {
		display: flex; 
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
		height: 100%;

		.logo {
			font-size: 20rem;
		}

		.button {
			width: 80%;
		}
	}
}
