<!-- Rename this ti GroupModal -->


<ion-header>
  <ion-navbar primary>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{ groupName }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 padding>Users</h1>
  <ion-list padding>
    <ion-item ion-item *ngFor="let u of users">
      {{u.name}}
      <button ion-button (click)="inviteMember(u)">Invite</button>
    </ion-item>
  </ion-list>

  <h1 padding>Members</h1>
  <ion-list padding>
    <ion-item ion-item *ngFor="let m of members">
      {{m.name}}
    </ion-item>
  </ion-list>
</ion-content>
